<div class="header">
  <div class="header-background"></div>
  <div class="header-content">
    <div class="header-title">
      <h1>{{ title }}</h1>
    </div>
    <div class="user-section">
      <div class="user-info">
        <img src="assets/personalll.png" alt="User" class="user-avatar">
        <div class="user-details">
          <div class="user-name">Michael Robinson</div>
          <div class="user-email">technical.sysre.co.ke</div>
        </div>
      </div>
    </div>
  </div>
</div>